*{
    margin: 0;
    font-family: arial;
    border: border-box;
}
.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

/** box2 **/
.add-first{
    color: #cccccc;
    margin-left: 15px;
    font-size: 0.85rem;
}
.add-sec{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/** box3 **/
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255, 166, 0, 0.97);
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
}
.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color: black;
}

.nav-search:hover{
    border: 2px solid orange
}
/** box4 **/
span {
    font-size: 0.8rem;
}
.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

/** box **/
.nav-cart i {
    font-size: 28px;
}
.nav-cart{
    font-size: .85rem;
    font-weight: 700;
}
.language i{
    font-size: 19px;
}
.language{
    font-size: 0.85rem;
    font-weight: 700;
}
/** panel **/
.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 600;
}
/** hero section **/
.hero-section{
    background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/img24/Fashion/GW/Feb/Citi/2._CB583981657_.jpg");
    height: 370px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 88%;
    margin-bottom: 25px;
}
.hero-msg a{
    color: #007185;
}

/** shop section **/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    /*border: 2px solid black;*/
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin: 15px;
}
.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 20px;
    margin-right: 20px;
}
.box-content p{
    color: #007185;
}
/** footer **/
.footer{
    margin: 15px;

}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul {
    margin-top: 25px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
ul p{
     font-weight: 500;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.box-language{
    width: 50px;
    border: 0.5px solid white;
    padding: 9px;
    width: 75px;
    margin: 9px;
    display: flex;
}
.box-currency{
    width: 50px;
    border: 0.5px solid white;
    padding: 9px;
    width: 130px;
    margin: 9px;
    display: flex;
}
.box-country{
    width: 50px;
    border: 0.5px solid white;
    padding: 9px;
    width: 100px;
    margin: 9px;
    display: flex;
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 200px;
    font-size: 07.rem;
    text-align: center;
}
.pages{
    padding-top: 20px;
    margin-top: 50px;
}
.copyright{
    padding-top: 5px;
   
}

.some-imp{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding: 0 0.75em;
    vertical-align: top;
    line-height: 115%;
}
.shop-section2{
    background-color: white;
    height: 290px;
    width: 86%;
    padding-left: 20px;
    padding-right: 200px;
}
.square-image {
    height: 300px;
    width: 300px;
    display: flex;
    padding-left: 70px;
    justify-content: space-between;
}
.shop-section3{
    background-color: white;
    height: 290px;
    width: 86%;
    padding-left: 20px;
    padding-right: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.secondbox a{
    color: rgb(21, 138, 193);
}
.shop-section4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.rectangle{
    /*border: 2px solid black;*/
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin: 15px;
}
